In [4]:
import sys
!pip install pandas

Collecting pandas
  Cache entry deserialization failed, entry ignored
  Using cached https://files.pythonhosted.org/packages/bb/71/8f53bdbcbc67c912b888b40def255767e475402e9df64050019149b1a943/pandas-1.0.3-cp36-cp36m-manylinux1_x86_64.whl
Collecting pytz>=2017.2 (from pandas)
  Cache entry deserialization failed, entry ignored
  Using cached https://files.pythonhosted.org/packages/e7/f9/f0b53f88060247251bf481fa6ea62cd0d25bf1b11a87888e53ce5b7c8ad2/pytz-2019.3-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.13.3 in /home/finn/.local/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/finn/uni_local/euvirus_venv/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: six>=1.5 in /home/finn/uni_local/euvirus_venv/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.0.3 pytz-2019.3

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("datasets/fake-news/train.csv")

In [12]:
df.describe()

                 id         label
count  20800.000000  20800.000000
mean   10399.500000      0.500625
std     6004.587135      0.500012
min        0.000000      0.000000
25%     5199.750000      0.000000
50%    10399.500000      1.000000
75%    15599.250000      1.000000
max    20799.000000      1.000000