In [1]:
import pandas as pd

# Clean training data

For this dataset, labels are 0 and 1, where 0 indicates a text source is unrealiable, and 1 that a source is reliable.

In [2]:
df = pd.read_csv("datasets/fake-news/train.csv")

In [3]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [4]:
df.columns

Index(['id', 'title', 'author', 'text', 'label'], dtype='object')

In [5]:
df = df.drop(labels=["id", "title", "author"], axis=1)

In [6]:
df.head()

                                                text  label
0  House Dem Aide: We Didn’t Even See Comey’s Let...      1
1  Ever get the feeling your life circles the rou...      0
2  Why the Truth Might Get You Fired October 29, ...      1
3  Videos 15 Civilians Killed In Single US Airstr...      1
4  Print \nAn Iranian woman has been sentenced to...      1

In [7]:
df = df.rename(columns={"text": "content", "label": "label"})

In [8]:
df.head()

                                             content  label
0  House Dem Aide: We Didn’t Even See Comey’s Let...      1
1  Ever get the feeling your life circles the rou...      0
2  Why the Truth Might Get You Fired October 29, ...      1
3  Videos 15 Civilians Killed In Single US Airstr...      1
4  Print \nAn Iranian woman has been sentenced to...      1

In [9]:
df.to_csv("datasets/cleaned_data/fake-news/train.csv", index=False)

# Clean test & submit data

In [10]:
test_df = pd.read_csv("datasets/fake-news/test.csv")

In [11]:
submit_df = pd.read_csv("datasets/fake-news/submit.csv")

In [12]:
submit_df.head()

      id  label
0  20800      0
1  20801      1
2  20802      0
3  20803      1
4  20804      1

In [13]:
submit_df.columns

Index(['id', 'label'], dtype='object')

In [14]:
test_df.columns

Index(['id', 'title', 'author', 'text'], dtype='object')

In [15]:
test_df.head()

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...

In [16]:
test_df = test_df.drop(labels=["title", "author"], axis=1)

In [17]:
test_df.head()

      id                                               text
0  20800  PALO ALTO, Calif.  —   After years of scorning...
1  20801  Russian warships ready to strike terrorists ne...
2  20802  Videos #NoDAPL: Native American Leaders Vow to...
3  20803  If at first you don’t succeed, try a different...
4  20804  42 mins ago 1 Views 0 Comments 0 Likes 'For th...

In [18]:
test_df = test_df.merge(submit_df, on="id", how="inner")

In [19]:
test_df = test_df.drop(labels="id", axis=1)

In [24]:
test_df.head()

                                             content  label
0  PALO ALTO, Calif.  —   After years of scorning...      0
1  Russian warships ready to strike terrorists ne...      1
2  Videos #NoDAPL: Native American Leaders Vow to...      0
3  If at first you don’t succeed, try a different...      1
4  42 mins ago 1 Views 0 Comments 0 Likes 'For th...      1

In [25]:
test_df = test_df.rename(columns={"text": "content", "label": "label"})

In [26]:
test_df.head()

                                             content  label
0  PALO ALTO, Calif.  —   After years of scorning...      0
1  Russian warships ready to strike terrorists ne...      1
2  Videos #NoDAPL: Native American Leaders Vow to...      0
3  If at first you don’t succeed, try a different...      1
4  42 mins ago 1 Views 0 Comments 0 Likes 'For th...      1

In [27]:
test_df.to_csv("datasets/cleaned_data/fake-news/test.csv", index=False)

# Combine train and test

In [28]:
train_df = pd.read_csv("datasets/cleaned_data/fake-news/train.csv")

In [29]:
test_df = pd.read_csv("datasets/cleaned_data/fake-news/test.csv")

In [30]:
len(train_df)

20800

In [5]:
len(test_df)

5200

In [31]:
test_df.columns

Index(['content', 'label'], dtype='object')

In [32]:
train_df.columns

Index(['content', 'label'], dtype='object')

In [36]:
train_df = train_df.append(test_df)

In [37]:
len(train_df)

26000

In [38]:
train_df.to_csv("datasets/cleaned_data/fake-news/fake-news_b.csv")